<div>
  Dimensions:
  <%= f.text_field :width %> width
  <%= f.text_field :height %> height
</div>

<div>
  Margin:
  <%= f.text_field :top %> top
  <%= f.text_field :left %> left
  <%= f.text_field :bottom %> bottom
  <%= f.text_field :right %> right
</div>