<style type="text/css">
<% @letter_map.each do |letter, colour| %>
#text .letter_<%= letter %> { background-color: <%= colour %>; }
<% end %>
</style>

<div id="text">
<%= text_to_classes(@text.text) %>
</div>

<div style="clear: both">
  <%= link_to("Edit text", [:edit, @text]) unless @text.new_record? %>
</div>

<div style="clear: both">
  <%= form_for(@dimensions, :url => dimensions_path, :html => { :method => :put, :id => "dimensions" }) do |f| %>

    <%= render :partial => "dimensions/form", :locals => { :f => f } %>

    <%= submit_tag "Update dimensions" %>

  <% end %>
</div>